{
  "extends": "airbnb",
  "rules": {
    "func-names": [
      "error",
      "never"
    ],
    "no-unused-expressions": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0 // not working properly with SFC
  },
  "plugins": [
    "mocha"
  ],
  "env": {
    "mocha": true
  }
}