.card
  padding 20px
  background-color white
  border 1px solid lightGrey
  border-radius 2px
  overflow auto
  &__title
    font-size 16px
    line-height 1.2

  &--created-by-me
    background-color warmGrey
