.column
  width 70%
  min-width 740px
  margin 20px 0 20px 20px
  &__title
    font-size 22px
    font-weight bold
    line-height 1.6
  &__cards
    border-right 1px solid lightGrey
    padding 20px 0
    height 100%
